html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: black;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 96%;
	width: 96%;
}

input[type="range"] {
	height: 0;
}
