<script>
	import { cards, selected } from './cards.js';


//  selects object and translates offset of pointer from current svg coordinates
	
	let drag = e => {
		if( $selected.id != -1 ){
			e.preventDefault();
// 	Translate new coodinates	

			let ctm = e.target.getScreenCTM( );
			let card = { 
				id: $selected.id,
				cood: { 
					x : ( e.clientX - ctm.e ) / ctm.a - $selected.offset.x,
					y : ( e.clientY - ctm.f ) / ctm.d - $selected.offset.y	
				},
				size: $cards[ $selected.id ].size 
			};

//collision parameters, move/drop card

			( card.cood.x > 0 && card.cood.y > 0 && card.cood.x  < 80 && card.cood.y  < 80 )
				? cards.moveCard( card, card.id )
				: selected.reset();
		};
	};

</script>
<svelte:window on:mouseup="{ e => selected.reset() }" on:mousemove="{ drag }"/>
<section>
	<svg viewbox="0 0 100 100" >
		{ #each $cards as card }
			<rect 
				id="{ card.id }"
				x="{ card.cood.x }"
				y="{ card.cood.y }"
				height="20"
				width="20"
				rx="1"
				ry="1"
				fill="ghostwhite"
				on:mousedown="{ e => selected.card( e, $cards[ e.target.id ].cood )}"
								/>
			<path fill="none" stroke="ghostwhite" stroke-width="3"
				d="M 50, 50
					A 6 3 10 0 1 {( card.cood.x+50 )/2 },{( card.cood.y+50 )/2 }
					A 6 3 10 0 0 { card.size.w/2+card.cood.x },{ card.size.h/2+card.cood.y }"
			/>
		{ /each }
	</svg>
	<button on:click={ cards.newCard }> New </button>
</section>
<style>
	section {
		display: block;
		width: 98vw;
		height: 98vh;
		background: indigo;
	}
	svg { 
		height: 85vh;
		width: 85vh;
		background: blue;
		margin: auto;
	}
	button {
		height: 10vh;
		width: 20vw;
	}
	.card{
		height: 40vh;
		width: 20vw;
		background: ghostwhite;
	}
</style>
