<script>
	let buttons = Array.from( 
		{ length:5 }, 
		( _, row ) => Array.from(
			{ length: 4 }, 
			( _, col ) => {
				let x = col*25+12.5;
				let y = row*30+40;
				return { x, y }
			}
		)
	).flat();
</script>
<svg viewbox="0 0 120 200">
	<rect
		x= '0'
		y= '0'
		height='200'
		width='120'
		rx='9%'
		ry='3%'
		fill='slategray'
					/>
	<rect 
		x= '10'
		y= '10'
		height='20'
		width='100'
		fill='ghostwhite'
		stroke-width=".3"
		stroke='darkslateblue'
								/>
	<text x = '90' y = '25' stroke="black">0</text>
	{ #each buttons as button, i } 
		<rect 
			x= { button.x } 
			y= { button.y }
			height='20'
			width='20'
			rx='8%'
			ry='8%'
			fill='steelblue'
			stroke-width=".3"
			stroke='darkslateblue'
									/>
	{ /each }
</svg>
<style>
	svg {
		height: 100%;
		width: 100%;
	}
</style>
