<script>
	let value = "0";
	let formerValue; 
	let operator;
	let calculated = true;
	let buttons = [ "7", "8", "9", "4", "5", "6", "1", "2", "3", ".", "0" ]; 

	let inputNum = num =>{
		calculated ? value = num : value === "0" ? value = num : value += num;
		calculated = false;
	}

	let inputOper= o =>{ 
		operator = o;
		formerValue = value;
		value = "0";
	};

	let calculate = ()=>{ 
		switch( operator ){
			case "+":
				value = ( Number( formerValue ) + Number( value )).toString();
				break;
			case "-":
				value = ( Number( formerValue ) - Number( value )).toString();
				break;
			case "*":
				value = ( Number( formerValue ) * Number( value )).toString();

				break;
			case "/":
				value = ( Number( formerValue ) / Number( value )).toString();
				break;
		}
		calculated = true;
	};

	let clear = ()=> value === "0" ? formerValue = "0" : value = "0";

	let inverse = ()=> Number( value )> 0 ? value = "-"+ value 
		: value === "0"? value
		: value = value.slice( 1 ); 
</script>
<div id="bgCal" class="row center-xs middle-xs">
	<div class="col-xs-10">
		<div id="inputRow" class="row center-xs middle-xs">
			<input id="valueBox" class="col-xs" { value }/>
		</div>
		<div id="funcRow" class="row between-xs">
			<div class="col-xs-3">
				<button class="funcButtons" on:click="{ ()=> inputOper( "*" ) }">*</button>
			</div>
			<div class="col-xs-3" on:click="{ ()=> inputOper( "/" ) }">
				<button class="funcButtons">/</button>
			</div>
			<div class="col-xs-3" on:click="{ ()=> inputOper( "+" ) }">
				<button class="funcButtons">+</button>
			</div>
			<div class="col-xs-3" on:click="{ ()=> inputOper( "-" ) }">
				<button class="funcButtons">-</button>
			</div>
		</div>
		<div class="row between-xs middle-xs">
			{ #each buttons as button } 
				<div class="col-xs-4 center-xs numCols">
					<button on:click="{ ()=> inputNum( button ) }">{ button }</button>
				</div>
			{ /each }
			<div class="col-xs-4 center-xs numCols">
				<button on:click="{ inverse }">+/-</button>
			</div>
		</div>
		<div id="lastRow" class="row between-xs">
			<div class="col-xs-6">
				<button class="funcButtons" on:click={ clear }>{ value === "0"? "AC" : "C" }</button>
			</div>
			<div class="col-xs-6">
				<button class="funcButtons" on:click={ calculate }>=</button>
			</div>
		</div>
	</div>
</div>
<style>
	button{
		height: 89%;
		width: 65%;
		color: ghostwhite;
		background: steelblue;
		border-radius: 35%;
		box-shadow: 3px 3px 3px darkslateblue;
	}
	button:active{
		background: slateblue;
	}
	#bgCal{
		height: 69vh;
		width: 27vw;
		margin: 21vh auto;
		background: slategray;
		border-radius: 3%;
		padding: 1vw;
	}
	#inputRow{
		height: 10vh;
	}
	#funcRow{
		height: 8vh;
	}
	#buttonsRow{
		height: 40vh;
	}
	#lastRow{
		height: 8vh;
		margin-top:1vh;
	}
	#valueBox {
		height: 69%;
		width: 85%;
		font-size: 5vh;
		text-align: right;
		padding-right: 1vw;
	}
	.numCols {
		height: 9vh;
	}
	.funcButtons {
		background: darkslateblue;
		width: 85%;
		height: 81%;
		border-radius: 35%;
	}
</style>
