<script>
	import Mindmap from './mindmap/View.svelte';
	import Calculator from './cal/Frame.svelte';
	import MenuBar from './MenuBar.svelte';
	
	let view;
	let component;

	$: switch( view ){
		case 'Calculator': 
			component = Calculator;
			break;
		case 'Mindmap':
			component = Mindmap;
			break
		default:
			component = '';
			break;
	};
</script>

<main>
	<svelte:component this={ component }/>
	{ #if component==="" } 
		<MenuBar bind:view={ view }/>
	{ /if }
</main>
<style>
	h1 {
		color: ghostWhite;
	}

	main {
		overflow:hidden;
		height: 100vh;
		width: 100vw;
		background: #203;
	}

</style>

