<script>
	import Calculator_Icon from './assets/calculator.svelte';
	export let view='';
</script>

<section id="component">
	<div class="icon" on:click="{ ()=> view = 'Calculator' }">
		<Calculator_Icon />
	</div>
<div>
	<button on:click="{ ()=> view = 'Mindmap' }"></button>
</div>
</section>

<style>
/*TODO remove button after icon have been finished*/
	button {
		height: 20vh;
		width: 20vw;
	}
	#component{
		position: absolute;
		bottom: 20vh;
		left: 40vw;
		width: 40vw;
		z-index:10;
		justify-content:center;
	}	
	.icon{ 
		background:darkSlateblue;
		height: 25vh;
		width: 15vh
	}
</style>
